#include <winres.h>
#include "rc.h"

IDM_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Legend", ID_LEGEND
        MENUITEM SEPARATOR
        MENUITEM "E&xit",   ID_EXIT
    END
END

IDD_LEGEND DIALOG DISCARDABLE  100, 100, 150, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Size"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&X:",IDC_STATIC,9,10,16,13
    EDITTEXT        IDC_EDIT1,30,7,40,14,ES_AUTOHSCROLL
    LTEXT           "&Des:",IDC_STATIC,10,29,15,12
    EDITTEXT        IDC_EDIT2,30,28,40,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,91,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,91,24,50,14
END

